:root {
  --bg-light: lavender;
  --bg-dark: #bcbcfb;
  
}

body {
  background-color: var(--bg-light);
}

textarea, .output {
  width: 99%;
  min-height: 60vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.output {
  background-color: #e1e1e1;
}

.darkbg {
  background-color: var(--bg-dark)
  /* background: linear-gradient(90deg, var(--bg-dark) 0%, var(--bg-light) 100%);  */
}

.lightbg {
  background-color: var(--bg-light);
}

.markeddown-content img {
  max-width: 100%;
  height: auto;
}

